

* {margin:0;padding:0;} 

h1 {font-family: 'Lobster', bold; 
   color: #4EA18E;
   font-size:80px
}

body {height: 92%;
   background-color:#EEE4D4;
}

/*FFF4D4*/

#wrap {min-height: 100%;
      text-align:center;
      vertical-align: center;
}

#main {overflow:auto;
   line-height: 90px;
   vertical-align: center;
   margin-top:60px;/* 100 */
}  /* must be same height as the footer */

#footer {position: relative;
   margin-top: -150px; /* negative value of footer height */
   height: 90px;
   clear:both;
   background: #474DA1;
   color: white;
   font-size:18px;
   text-align: right;
   padding: 30px 50px;
} 

.submitButton {
   padding: 7px 7px 7px !important;
   font-size: 18px !important;
   background-color: #F36C8C;
   font-weight: bold;
   color: #ffffff;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border: 1px solid #F36C8C;
   cursor: pointer;
   box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
   -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
   -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

input {
   height: 40px;
   font-size: 18px !important;
}

p { font-size: 19px}
