{% load staticfiles %}
<head> 
   <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
   <link href="{% static "checkUrl/screen.css" %}" rel="stylesheet" type="text/css">
   <title>URLChecker: check if a website is up!</title> 
</head>

<body>
<div id="wrap">
   <div id="main">

      <img src="{% static "checkUrl/logo.png" %}" alt="My image"/>
      <h1>
         URLChecker
      </h1>


         <form action="." method="post">{% csrf_token %}
               {{form.direccion}}
            <input type="submit" class="submitButton" name="submit" value="Check your URL">

         </form>

   </div>

<p>
   Do you want to know if a website is running or if it's just your computer?
   <br>Enter the address above to check it out!
</p>
</div>
   <div id="footer">
      Made by Marcos Campos
      <br> Carnet: 10-10108
      <br>
      <a href="https://github.com/WhosTheMark">
         <img src="{% static "checkUrl/git.png" %}" alt="Git Hub Account"/>
      </a>
      <a href="mailto:whosthemark@gmail.com">
         <img src="{% static "checkUrl/mail.png" %}" alt="Mail"/>
      </a>
   </div>
</body>